# CMS allowed domains for CSRF protection
# Comma-separated list of domains where the CMS frontend is hosted.
# For Cloudflare FQDN requests, it's recommended to append a dot at the end of domains.
# E.g., my-domain.com,my-domain.com.
ALLOWED_DOMAINS=my-domain.com,my-domain.com.
